/* Page */
.body-content {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
}

/*Class for ImageUploader*/
.image-upload {
    background: #429ef5;
}
.image-upload:hover {
    background: #0a68c2;
}

.image-upload:active {
    background: gray;
}