.icons-base-color{
    color: #429ef5;
}

.icons-base-color:hover {
    color: #0b5aa5;
}

.icons-base-color:active {
    color: #073057;
}

.nav {
    margin: 10px;
}

/* AWS response presentation */
.json {
    overflow-y: scroll; 
    height:600px;
    text-align: left;
}